header{
  width:100%;
  height: 100px;
  background-color: var(--color-primario);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.sesion{
  color: var(--color-input);
  margin: 15px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
}

.usuario{
  color: var(--color-input);
  margin: 15px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
}

img.header__icono{
  position: relative;
  left: 37vw;
  margin-top: 10px;
}

img.logo{
  width: 140px;
  padding-left: 15px;
  
}

.sesionListado{
  color: var(--color-input);
  position: absolute;
  left: 85vw;
  top: 35px;
  float: right;
}



