.logoTienda{
    width: 50%;
    height: auto;
    margin-left: 20%;
}

.contacto{
    display: flex;
}

.contactanos{
    width: 47vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
}

.contactoTitulo{
    color: var(--color-secundario);
    margin-bottom: 30px;
}

.contacto__h6{
    margin-bottom: 40px;
    margin-right: 7vw;
}

.lineaVertical2{
    border-left: 3px solid var(--color-secundario);
    margin-top: 10vh;
    
}

textarea{
    background-color: #ffddd290;
    display: block;
    margin-left: 7vw;
    margin-bottom: 20px;
    width: 25vw;
    height: 170px;
    padding: 10px;
    font-size: 0.8rem;
    border: none;
}

.formulario__contacto{
    margin-top: 90px;
}

.btn__enviarComentario{
    position:absolute;
    bottom: 70px;
    margin-left: 7vw;
}

.politicas{
    position: relative;
    bottom: 60px;
    margin-left: 9vw;
}