.barraBusqueda{
    width: 30vw;
    height: 45px;
    border-radius: 50px;
    margin-left: 30%;
    margin-right: 5px;
    margin-top: 50px;
    border: 1px solid var(--color-secundario);
}

.coleccion{
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10%;
    grid-template-columns: repeat(3, 1fr);

    margin: auto;
    margin-top: 40px;
    max-width: 70vw;
}

.mangas__imagen{
    display: block;
    height: 300px;
    width: auto;
}


.manga__precio{
    margin-bottom: 20px;
}

.botonesListado{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly ;
    margin-bottom: 40px;
    margin-top: 40px;
   
}

.textoListado{
    margin-left: 10vw;
}
