.formulario__registro{
    width: 40vw;
    height: 900px;
    background-color: #a7d7ec63;
    border-radius: 20px;

    display: block;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 50px;
}

.registrado{
    margin-left: 7vw;
    margin-bottom: 40px;
}

.errorRegistro{
    width: 25vw ;
    margin-left: 7vw;
    font-size: 0.8rem;
}